<input (keyup)="changeImage($event)" [value]="imgURL">

<app-post [img]="imgURL" (imgSelected)="logImg($event)">
  <p>Some caption</p>
</app-post>

<p>Hello {{ name | titlecase }}!</p>
<p>Hello {{ getName() }}!</p>
<p>{{ 15 + 13 }}</p>
<p>{{ currentDate | date: 'MMMM d'}}</p>
<p>{{ cost | currency: 'usd'}}</p>
<p>{{ cost | number: '1.0-0'}}</p>
<pre>{{ pizza | json}}</pre>

<button (click)="blueClass = !blueClass">Change</button>

<p *ngIf="blueClass">Button is Blue</p>

<app-post *ngFor="let image of images; let i=index" [img]="image" (imgSelected)="logImg($event)">
  <p>{{i}} Some caption</p>
</app-post>
